:root {
    --black-color: #000;
    --gray-color: #f3f3f3;
    --gray-color-100: #cfcfcf;
    --white-color: #fff;
    --height: 60px;
}

html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all .1s linear;
}

body {
    font-size: 62.5%;
    transition: all .5s;
}

a {
    text-decoration: none;
    color: var(--black-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

/* mode */

body .root.light {
    background-color: var(--gray-color);
    color: var(--black-color);
}

body .root.dark {
    background-color: var(--black-color);
    color: var(--white-color);
}

body .root.dark a {
    color: var(--white-color);
}

body .root.dark p {
    color: var(--white-color);
}

body .root.dark h1 {
    color: var(--white-color);
}

body .root.dark h2 {
    color: var(--white-color);
}

body .root.dark h3 {
    color: var(--white-color);
}

body .root.dark h4 {
    color: var(--white-color);
}

body .root.dark h5 {
    color: var(--white-color);
}

body .root.dark h6 {
    color: var(--white-color);
}

body .root.dark div {
    color: var(--white-color);
}

body .root.dark li {
    color: var(--white-color);
}

body .root.dark .button.button.button-login {
    background-color: var(--white-color);
    color: var(--black-color);
    border-color: var(--white-color);
}

body .root.dark .box-user {
    background-color: var(--white-color);
    color: var(--black-color);
}

body .root.dark .chat-input-container .chat-input button {
    background-color: var(--black-color);
    color: var(--white-color);
}


body .root.dark #offcanvasNavbar a,
body .root.dark #offcanvasNavbar p,
body .root.dark #offcanvasNavbar li {
    color: var(--black-color);
}


/* buttons */
.button {
    border: 1px solid var(--gray-color-100);
    border-radius: 50px;
    padding: .5rem 1rem;
    font-weight: bold;
}

.button.button-login {
    border: 1px solid var(--black-color);
    background-color: var(--black-color);
    color: var(--white-color);
}

.button-disabled {
    cursor: no-drop !important;
}

/* scroll bar */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body .root.dark::-webkit-scrollbar-track {
    background-color: var(--black-color) !important;
}

/* header */

.root {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: static;
}

.header {
    padding: .8rem 0;
}

.header-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-container a {
    font-size: 1rem;
}

.header-container .header-logo {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.header-container .header-logo a,
span {
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
}

.header-container .header-logo span {
    font-size: 1.5rem;
}

.header-container .header-actions {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.header-container .header-actions .header-mode i {
    font-size: 1.3rem;
    cursor: pointer;
}

.header-container .header-actions .header-mode i:hover {
    opacity: .8;
}

.header-container .header-actions .header-buttons {
    display: flex;
    align-items: center;
    gap: .5rem;
}

#offcanvasNavbar {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#offcanvasNavbar .offcanvas-header a {
    font-weight: bold;
    font-size: 1.2rem;
}

#offcanvasNavbar a,
p {
    font-size: 1rem !important;
    text-align: justify;
}

#offcanvasNavbar li {
    font-size: 1rem;
}

.offcanvas-body {
    flex: 1;
    display: flex;
    flex-direction: column;

}

.offcanvas-body .canvas-body-top {
    flex: 1;
}

.offcanvas-body .canvas-body-bottom p {
    text-align: center;
    font-size: .8rem !important;
}

/* main */

.chat-display-container {
    flex: 1;
    width: 100%;
    overflow-y: auto;
    height: 520px;
    padding: 0 1rem;
}

.chat-display {
    display: flex;
    height: 100%;
    margin: 0 auto;
    max-width: 700px;
    width: 100%;
    flex-direction: column;
    font-size: 1rem;
    padding: .5rem 0;
    position: relative;
}

.box-user {
    background-color: var(--white-color);
    width: 250px;
    padding: 1rem;
    border-radius: 10px;
    text-align: justify;
    margin-left: auto;
    margin-top: 2rem;
}

.box-ai {
    margin: 2rem 0;
    margin-left: 1rem;
    text-align: justify;
    font-size: 1rem;
}

@keyframes d5-light-mode {
    0% {
        box-shadow: 20px 0 #000, -20px 0 #0002;
        background: #000
    }

    33% {
        box-shadow: 20px 0 #000, -20px 0 #0002;
        background: #0002
    }

    66% {
        box-shadow: 20px 0 #0002, -20px 0 #000;
        background: #0002
    }

    100% {
        box-shadow: 20px 0 #0002, -20px 0 #000;
        background: #000
    }
}

.waiting-response {
    width: 10px;
    aspect-ratio: 1;
    border-radius: 50%;
    animation: d5-light-mode 1s infinite linear alternate;
    display: none;
    margin: 0 auto;
    margin-bottom: 1rem;
}


@keyframes d5-dark-mode {
    0% {
        box-shadow: 20px 0 #fff, -20px 0 #fff2;
        background: #fff
    }

    33% {
        box-shadow: 20px 0 #fff, -20px 0 #fff2;
        background: #fff2
    }

    66% {
        box-shadow: 20px 0 #fff2, -20px 0 #fff;
        background: #fff2
    }

    100% {
        box-shadow: 20px 0 #fff2, -20px 0 #fff;
        background: #fff
    }
}

body .root.dark .waiting-response {
    width: 10px;
    aspect-ratio: 1;
    border-radius: 50%;
    animation: d5-dark-mode 1s infinite linear alternate;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 50%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: var(--black-color);
    }
}

.box-ai.intro {
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid var(--black-color);
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .1rem;
    /* Adjust as needed */
    animation:
        typing 3s steps(40, end),
        blink-caret .75s step-end infinite;
}


.chat-input-container {
    padding: 1rem;
}

.chat-input-container .chat-input {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    background-color: var(--white-color);
    border: 1px solid var(--gray-color);
    border-radius: 25px;
}

.chat-input-container .chat-input button {
    border: none;
    background: transparent;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--gray-color-100);
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    margin-right: 1.2rem;
}

.chat-input-container .chat-input button i {
    font-size: 1rem;
    transition: all .5s;
}

.chat-input-container .chat-input button i:hover {
    opacity: .8;
}

.chat-input-container .chat-input textarea.chat-form {
    display: block;
    flex: 1;
    width: 90%;
    padding: .8rem 1.5rem !important;
    background-color: transparent;
    border: none;
    border-radius: 50px;
    outline: none;
    font-size: 1rem;
    resize: none;
}