.header
    .container 
        .header-container
            .header-logo 
                span 
                    i(class="fa-solid fa-bars")
                a(href="/") TourGuideBox 

            .header-actions
                .header-mode 
                    i(
                        class="fa-solid fa-circle-half-stroke" 
                        id="change-mode"
                    )
                
                .header-buttons 
                    a(href="/login"  class="button button-login") Log in  
                    a(href="/signup" class="button button-signup") Sign up  