.header-ladi 
    .container 
        .header-ladi-container
            .header-ladi-logo 
                a(href="/") TourGuideBox 
    
            .header-ladi-menu    
                ul.header-ladi-ul
                    li.header-ladi-li
                        a(href="#") Overview   
                    li.header-ladi-li
                        a(href="#") About 
                    li.header-ladi-li
                        a(href="#") Blogs    
            